body {
    background: linear-gradient(to bottom, #1e3a63, #7db9e8);
  }
  button {
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ffcc00;
  }
  @keyframes mover {
    0% { left: 0; }
    50% { left: 50%; }
    100% { left: 100%; }
  }
  
  .elemento {
    position: relative;
    animation: mover 3s infinite;
  }
    